<div class="container fondoblanco">
    <div class="blog-post py-4 px-4">
        <div class="flex-row text-center">
            <div class="d-flex justify-content-center">
                <h1 class="blog-post-title font-weight-bold text-center col-10">{{event.titulo}}</h1>
            </div>
        </div>

        <h3 class="font-weight-normal text-center mt-3">Se realizará el: <span class="mb-1 text-muted">
                {{event.fechaFormat}}
            </span>
        </h3>

        <h3 class="font-weight-normal text-center mt-3">Descripcion:</h3>
        <p class="m-3 text-justify">{{{event.descripcion}}}</p>

        <h3 class="font-weight-normal text-center mt-3">Ubicacion:</h3>
        

    </div><!-- /.blog-post -->
</div>