<div class="container fondoblanco">
    <div class="blog-post py-4 px-4">
        <div class="flex-row text-center">
            <div class="d-flex justify-content-center">
                <h1 class="blog-post-title font-weight-bold text-center col-10">{{public.titulo}}</h1>
            </div>
            <h5><a href="/actividades/publicaciones?categoria={{public.categoria}}" class="badge barge-pill badge-primary rounded">{{public.categoria}}</a></h5>
        </div>
        <h3 class="font-weight-normal text-center mt-3"></h3>
        <p class="m-3 text-justify">{{{public.descripcion}}}</p>
        

    </div><!-- /.blog-post -->
</div>