<div class="container pt-3">
    <section class="card">
        <div class="card-body Nosotros">
            <h1>Acerca del <span>Grupo de Investigación:</span></h1>
            <p class="lead">La problemática científica de este grupo se refiere al estudio del tratamiento de datos, la
                interoperabilidad
                de
                equipos y la toma de decisiones basada en inteligencia artificial y analítica de datos que sirvan al
                modelamiento de sistemas industriales complejos, entendidos como sistemas no-lineales multivariados. Y,
                además
                estudiar el impacto de esta nueva revolución en los sistemas socio-económicos territoriales,
                especialmente
                en
                los territorios que basas su desarrollo en los recursos naturales. Cuestiones todas que deben ser
                abordadas
                interdisciplinariamente. El grupo abordará problemáticas industriales de sectores claves de la economía
                del
                centro sur de Chile.</p>

            <P class="lead">Las líneas de investigación son las atingentes a la industria 4.0 con especial énfasis en la
                analítica de
                datos
                para modelar sistemas complejos, con fines descriptivos se separa, pero los problemas serán abordados de
                manera
                holística, a saber: </P>

            <ol class="lead">
                <li>Preprocesamiento de datos para la modelación de sistemas complejos.</li>
                <li>Métodos y técnicas de inteligencia artificial en la modelación de sistemas industriales para ayuda a
                    la toma de decisiones.</li>
                <li>Sistemas ciberfísicos (agentes) cooperativos y modelos virtuales de apoyo a los sistemas
                    industriales.</li>
                <li>Estrategias y políticas que vinculen los cambios tecnológicos de la cuarta revolución industrial con
                    las necesidades del entorno en un contexto de complejidad.</li>
            </ol>

            <div class="logos">
                <img src="/img/gISCOM_Logov2.png" alt="Logo Giscom">
                <img src="/img/isoc.png" alt="Logo UBB">
            </div>
        </div>
    </section>
</div>