:root {
  --color1: #006bb3;
  --color2: #ff7518;
  --color3: #fcfcfc;
  --colorTexto: #535353;
  --colorFondo: #002035;
  --colorFondo2: #d3d3d3;
  --color1Hover: #004879;
}

body {
  background: var(--colorFondo2);
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

/* Estilos para el logo de gISCOM */
.logo {
  width: 30%;
}

/* Estilos de la barra de navegacion */
.navbar-brand {
  padding-top: 0;
  padding-bottom: 0;
}

.nav-item a {
  color: var(--color1) !important;
  font-weight: 600;
}

.nav-item a:hover {
  color: var(--color2) !important;
}

.dropdown a i {
  font-size: 20px;
}

#btnSesion1 {
  
}

@media (max-width: 1280px) {
  /* Aqui se borra el texto lateral del logo en resoluciones menores a 1280px */
  .texto {
    display: none;
  }
}

/* Estilos del texto lateral del logo */
.texto p,
.texto h4 {
  margin: 0;
  color: var(--color1);
  text-align: center;
}

.texto h4 {
  font-size: 17px;
  font-weight: 600;
}

.texto p {
  font-size: 12px;
  font-weight: 600;
}

/* Estilos para la pestaña "Nosotros" */
.Nosotros {
  margin: 0 auto;
}

.Nosotros h1 {
  font-weight: 600;
}

.Nosotros h1 span {
  color: var(--color1);
}

.Nosotros p {
  font-weight: 400;
}

/* Estos son los estilos para el logo de gISCOM y UBB en la pestaña de "Nosotros" */
.logos {
  display: flex;
  justify-content: space-evenly;
}

.logos img {
  height: 100px;
  margin: 15px auto;
}

@media (max-width: 1280px) {
  .logos {
    display: block !important;
  }

  .logos img {
    margin-bottom: 30px;
  }
}

/* Estilos para las cards de Ayudantes */
.cardAyud {
  height: cover;
  min-height: 325px;
}

@media (min-width: 1199px) {
  .cardAyud {
    min-height: 280px;
  }
}

/* Estilos para las cards y modals de investigadores */
.investigador {
  text-align: start;
}

.investigadorModal {
  text-align: center;
}

.investigadorModal img {
  max-width: 100%;
  height: auto;
}

@media (max-width: 767px) {
  .dptoI {
    margin-top: 15px;
  }
}

/* PANEL DE ADMINISTRACION */

:root {
  -light: #ffffff;
  --grey: #efefef;
}

/* SIDEBAR */

#wrapper {
  overflow-x: hidden;
}

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  transition: margin 0.25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

body.sb-sidenav-toggled #wrapper #sidebar-wrapper {
  margin-left: 0;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  body.sb-sidenav-toggled #wrapper #sidebar-wrapper {
    margin-left: -15rem;
  }
}

.mw-50 {
  max-width: 50%;
}

@media (max-width: 768px) {
  .mw-sm-100 {
    max-width: 100%;
  }
}

.bg-panel {
  background-color: #ebebeb;
}

.admin-container {
  display: flex;
  flex-direction: column;
}

.head-admin-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.slider {
  background: url("/img/extra/bg-3.png");
  background-size: cover;
  background-position: center;
  height: 400px;
}

.container2 {
  max-width: 900px;
}

/* Limites de parrafos o textos. */
.limit-line {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  overflow: hidden;
}

.limit-line2 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  overflow: hidden;
}

.limit-line3 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  line-clamp: 2;
  overflow: hidden;
}

.redes {
  font-size: 30px;
}

html {
  height: 100%;
}

footer {
  margin-top: auto;
}

.custom-file-label::after {
  content: "Seleccionar" !important;
}

/* VIDEOS, IMAGENES Y IFRAMES RESPONSIVOS */
@media (max-width: 767px) {
  .vr p {
    text-align: justify !important;
  }

  .vr p iframe,
  .vr p object,
  .vr p embed {
    text-align: start !important;
    max-width: 100%;
    max-height: 300px;
  }

  .vr div {
    text-align: justify !important;
  }

  .vr div iframe {
    text-align: start !important;
    max-width: 100%;
  }
}

@media (max-width: 1199px) {
  .vr p img {
    max-width: 100% !important;
    text-align: start;
  }

  .vr div {
    text-align: center !important;
    /* text-align: justify !important; */
  }

  .vr div iframe {
    /* text-align: start !important; */
    max-width: 100%;
    max-height: 300px;
  }
}
