{{!-- <footer class="site-footer seccion">
  <div class="contenedor contenedor-footer">
    <nav class="navegacion">
      <a href="nosotros.html">Nosotros</a>
      <a href="anuncios.html">Anuncios</a>
      <a href="blog.html">Blog</a>
      <a href="contacto.html">contacto</a>
    </nav>

    <p class="copyright">Todos los derechos reservados 2020&copy;</p>
  </div>
</footer> --}}

{{!-- <footer class="text-muted">
  <div class="container">
    <p class="float-right">
      <a href="#">Back to top</a>
    </p>
    <p>Album example is © Bootstrap, but please download and customize it for yourself!</p>
    <p>New to Bootstrap? <a href="/">Visit the homepage</a> or read our <a
        href="/docs/4.6/getting-started/introduction/">getting started guide</a>.</p>
  </div>
</footer> --}}

<footer class="bg-dark text-white">
  <div class="container">
    <div class="row my-2 mx-4">
      <nav class="col-md-6 d-flex justify-content-center redes">
        <a class="text-reset mx-2" href="#"><i
            class="fab fa-facebook-square"></i></a>
        <a class="text-reset mx-2" href="#"><i
            class="fab fa-twitter-square"></i></a>
        <a class="text-reset mx-2" href="#"><i
            class="fab fa-youtube"></i></a>
        <a class="text-reset mx-2" href="#"><i
            class="fas fa-envelope"></i></a>
      </nav>
      <div class="col-md-6 d-flex justify-content-center p-0 align-items-center">
        <p class="text-white m-0">&copy; Copyright 2022 gISCOM</p>
      </div>
    </div>
  </div>
</footer>