{{!-- <footer class="site-footer seccion">
        <div class="contenedor contenedor-footer">
            <nav class="navegacion">
                <a href="nosotros.html">Nosotros</a>
                <a href="anuncios.html">Anuncios</a>
                <a href="blog.html">Blog</a>
                <a href="contacto.html">contacto</a>
            </nav>

            <p class="copyright">Todos los derechos reservados 2020&copy;</p>
        </div>
</footer> --}}

{{!-- <footer class="text-muted">
  <div class="container">
    <p class="float-right">
      <a href="#">Back to top</a>
    </p>
    <p>Album example is © Bootstrap, but please download and customize it for yourself!</p>
    <p>New to Bootstrap? <a href="/">Visit the homepage</a> or read our <a href="/docs/4.6/getting-started/introduction/">getting started guide</a>.</p>
  </div>
</footer> --}}

<footer class="bg-dark text-white">
    <div class="container d-flex justify-content-between pt-2 pb-1 px-4">
        <nav class="row redes">
            <a class="col-3 text-reset text-uppercase d-flex align-items-center" href="#"><i class="fab fa-facebook-square"></i></a>
            <a class="col-3 text-reset text-uppercase d-flex align-items-center" href="#"><i class="fab fa-twitter-square"></i></a>
            <a class="col-3 text-reset text-uppercase d-flex align-items-center" href="#"><i class="fab fa-youtube"></i></a>
            <a class="col-3 text-reset text-uppercase d-flex align-items-center" href="#"><i class="fas fa-envelope"></i></a>
        </nav>
        <p class="mt-2">&copy; Copyright 2022 gISCOM</p>
    </div>
</footer>