<nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm">
    <div class="container">
        <a href="/" class="navbar-brand">
            <img src="/img/gISCOM_Logov2.png" height="40px" alt="LOGO GISCOM">
        </a>
        <div class="texto navbar-brand">
            <h4>Industria Inteligente y Sistemas Complejos</h4>
            <p>Grupo de Investigación - Universidad del Bío-Bío</p>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Inicio<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Equipo
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="/equipo/investigadores">Investigadores</a>
                        <a class="dropdown-item" href="/equipo/ayudantes">Ayudantes</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Actividades
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="/actividades/publicaciones">Publicaciones</a>
                        <a class="dropdown-item" href="/actividades/eventos">Eventos</a>
                        {{!-- <a class="dropdown-item" href="/actividades/publicaciones?categoria=Noticia">Noticias</a>
                        --}}
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/nosotros">Nosotros</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                {{#if user}}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-user-circle"></i>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="/admin/panel">Configuración</a>
                        <a class="dropdown-item" href="/admin/logout">Cerrar Sesion</a>
                    </div>
                </li>
                {{else}}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-user-circle"></i>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="/admin/signin">Iniciar Sesión</a>
                    </div>
                </li>
                {{/if}}
            </ul>
        </div>
    </div>
</nav>