<div class="border-end bg-primary" id="sidebar-wrapper">
    <div class="sidebar-heading border-bottom bg-primary text-decoration-none">
        <h4 class="text-light font-weight-bold text-center m-0">MENÚ</h4>
    </div>
    <div class="list-group list-group-flush">
        <a class="list-group-item text-light list-group-item-action list-group-item-light bg-primary p-3" href="/admin/panel">Inicio</a>
        {{!-- <a class="list-group-item text-light list-group-item-action list-group-item-light bg-primary p-3" href="/admin/nosotros">Nosotros</a> --}}
        <a class="list-group-item text-light list-group-item-action list-group-item-light bg-primary p-3" href="/admin/administradores">Administradores</a>
        <a class="list-group-item text-light list-group-item-action list-group-item-light bg-primary p-3" href="/admin/investigadores">Investigadores</a>
        <a class="list-group-item text-light list-group-item-action list-group-item-light bg-primary p-3" href="/admin/ayudantes">Ayudantes</a>
        <a class="list-group-item text-light list-group-item-action list-group-item-light bg-primary p-3" href="/admin/publicaciones">Publicaciones</a>
        <a class="list-group-item text-light list-group-item-action list-group-item-light bg-primary p-3" href="/admin/eventos">Eventos</a>
    </div>
</div>