<div class="bg-aside" id="sidebar-container">
    {{!-- <h4 class="text-light font-weight-bold logo text-center">Administracion Giscom</h4> --}}
    <div class="logo">
        <a href="/admin/panel" class="text-decoration-none">
            <h4 class="text-light font-weight-bold"> Administración Giscom</h4>
        </a>
    </div>
    <hr>
    <div class="menu">
        <span class="d-block py-2 shadow text-center  text-light bg-primary font-weight-bold">General: <i
                class="fas fa-angle-down"></i></span>
        <a href="/admin/panel" class="d-block p-3 text-light">Inicio</a>
        <a href="#" class="d-block p-3 text-light">Nosotros</a>
        <a href="/admin/administradores" class="d-block p-3 text-light">Administradores</a>
        <a href="/admin/subir-imagen" class="d-block p-3 text-light">Subir Imagenes</a>
        <span class="d-block py-2 shadow text-center  text-light bg-primary font-weight-bold">Equipo <i
                class="fas fa-angle-down"></i></span>
        <a href="/admin/investigadores" class="d-block p-3 text-light">Investigadores</a>
        <a href="/admin/ayudantes" class="d-block p-3 text-light">Ayudantes</a>
        <span class="d-block py-2 shadow text-center  text-light bg-primary font-weight-bold">Actividades <i
                class="fas fa-angle-down"></i></span>
        <a href="/admin/publicaciones" class="d-block p-3 text-light">Publicaciones</a>
        <a href="/admin/eventos" class="d-block p-3 text-light">Eventos</a>
        {{!-- <a href="#" class="d-block p-3 text-light">Proyectos</a>
        <a href="#" class="d-block p-3 text-light">Cursos</a> --}}
    </div>
</div>