<div class="bg-panel">
    <div class="d-flex">
        
        {{>sidebar}}

        <div class="jumbotron mt-4 mx-auto">
            <h1 class="display-4 text-center">Bienvenido al Panel de Administración</h1>
            <img src="/img/gISCOM_Logov2.png" alt="Logo gISCOM" class="figure-img w-50 d-block mx-auto my-5">
            <a href="/" class="btn btn-primary d-block mx-auto">Volver a la pagina principal</a>
        </div>

    </div>
</div>