<div class="bg-panel">

    <div class="d-flex" id="wrapper">

        {{!-- SIDEBAR --}}
        {{>sidebar}}

        {{!-- PAGE CONTENT --}}
        <div id="page-content-wrapper">
            <button class="btn btn-primary" id="sidebarToggle"><i class="fas fa-bars"></i></button>

            <div class="d-flex my-auto">
                <div class="jumbotron text-center">
                    <h1 class="">Bienvenid@ al panel de Administración</h1>
                    <a href="/"><img src="/img/gISCOM_Logov2.png" alt="Logo gISCOM"
                            class="figure-img img-fluid mw-50 mw-sm-100 d-block mx-auto my-5"></a>
                    {{!-- <a href="/" class="btn btn-primary mx-auto">Volver a la pagina principal</a> --}}
                </div>
            </div>
        </div>

    </div> <!-- Fin del Sidebar Wrapper -->

</div>